<h1>Name: <%= @hedgehog.first_name %> </h1>
<h1>Age: <%= @hedgehog.age %> </h1>
<h1>Color: <%= @hedgehog.color %> </h1>
<h1>Favorite Food: <%= @hedgehog.favorite_food %> </h1>
<%= button_to "Delete", "/hedgehogs/#{@hedgehog.id}", :method => :delete %>
